:root {
    --morado: #673AB7;
    --verde: #008F39;
    --amarillo: #F4A020;
    --fondo: #F2EBFF;
    --titulos: #292E37;
    --texto: #525D73;
    --texto-btn: #fff;
    --btn: #673AB7;
    --bg: #fff;
}

header>nav {
    display: flex;
}

header>nav>div {
    display: inline-flex;
    background-color: #008F39;
}