/*
-- Bold --
font-family: Fira Sans;
font-weight: 700;
font-style: normal;

-- Regular --
font-family: Fira Sans;
font-weight: 400;
font-style: normal;
*/

html {
    font-size: 100%;
    background-color: #fef5fa;
}

body {
    margin: auto;
    padding: 0;
}

h1 {
    font-family: Fira Sans;
    font-weight: 700;
    font-size: 50px;
}

p {
    font-family: Fira Sans;
    font-weight: 400;
    font-size: 20px;
}


.mg {
    margin-top: 8em;
}

.inner-col {
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
    margin-left: 6em;
    margin-right: 6em;
}

.playdi {
    font-family: Fira Sans;
    font-weight: 700;
    font-size: 20px;
}

img.small {
    width: 160px;
    height: 140px;
    margin-left: 4em;
}

img.medium {
    width: 650px;
    height: 600px;
}